1. Compare ELMS spreadsheet to PEMA spreadsheet with user made "data_export." Generate a list of publications that aren't on the PEMA.
2. Compare ELMS NSN/basic on "data_export" to NSN/basic extracted from VP46 ADRL pdfs. Generate a list of pubs that do not match.
3. Manually verify change/note/interim info.

Finalize a google sheets doc that looks like such:

Load libraries and connect google account to import from with google sheets

In [ ]:
!pip install --upgrade -q gspread

import gspread
import pandas as pd
from google.colab import auth
auth.authenticate_user()
from google.auth import default

creds, _ = default()
gc = gspread.authorize(creds)

Load the dataframe

https://stackoverflow.com/questions/48470691/access-google-sheets-on-google-colaboratory

In [ ]:
worksheet = gc.open('data_export').sheet1
rows = worksheet.get_all_values()
df = pd.DataFrame.from_records(rows, columns=['col_1', 'col_2', 'col_3', 'col_4'])
df

                    col_1             col_2          col_3       col_4
0                pema_pub          elms_pub       elms_nsn  elms_basic
1             03-50GCB-11  AE-000DE-CON-001  0816LP1118092   6/23/2011
2        A1-230AC-631-000  AG-BOHGA-OPM-000  0803LP1114843    6/1/2011
3            16-30AAQ24-1  AG-000AO-MRC-000  0819LP0001789   11/1/2019
4            16-30AAQ24-2  AG-115SL-OMP-000  0817LP1147342   3/31/1983
..                    ...               ...            ...         ...
289      A6-215PC-MEB-000
290  AG-280GT-SMA-MRC-000
291      AG-500AO-MRC-100
292      AG-115SL-OMP-000
293         ICS GEAR LMRC

[294 rows x 4 columns]

https://www.stackvidhya.com/get-value-of-cell-from-a-pandas-dataframe/

Row 1, column 1:

current_row = 1

col_2_var = df.iat[current_row , 1]

col_2_var

**1.0 Goal:**

While loop. while loop can depend on if col_2 is done looping.
In the while loop, take a row from col_2 and search col_1 for it.
Use if statement to compare

col_2 var = next row
if col_2 var in col_1:
  continue
else:
  print( col_2 variable was not found in col_1. Continuing to next row in col_1...)

**1.1 Goal**

Using a google sheets doc, and the entire "VP-46 P-8 ADRL" folder:

First, search in pema column for corresponding pub number. If found, call pdf extract function to extract the NSN & baisc date. Check the found pema_NSN & pema_basic to the natec_NSN & natec_basic. Print ln of matching results.

*Note:* You will have to print an ELMS listing and manually verify all pubs with change information, as natec does not have the feature to add this data in TM search. 1.1 does not verify change information.

In [ ]:
#setting initial values
last_row = len(df)
print("length = ", last_row)

current_row = 1
col_2_var = df.at[current_row, "col_2"]

#Set variable as a list of column 1
col_1 = df["col_1"].tolist() # Should convert this to a hash set instead of list - Nathan

def pdf_extract():
  global pema_nsn
  global pema_basic



def search_func():
  global current_row

  #use newly looped col_2_var to search in col_1
  if col_2_var in col_1: # Has O(n) running time, with hashset this line will take O(1) time
    print("Compared & found. Current row = ", current_row)

    #Function that extracts NSN & basic date
    pdf_extract()

    ####Function that moves to next row
    check_col_2_status()

  elif current_row == last_row:
    print("Last row. Searching complete.")

  else:
    print("Not found... col_2_var not found = " + col_2_var)

    #Function that moves to next row
    check_col_2_status()

def check_col_2_status():
  global current_row
  global col_2_var

  #Set current row to next row
  current_row += 1

  #If not at end, set col_2_var to next value and search_func
  col_2_var = df.at[current_row, "col_2"]

  #Continue searching function
  try:
    search_func()
  except:
    print("df.at reached out of bounds. End of df length.")


## Overall this is PURE GARBAGE. GET GUUD
search_func()

length =  298
Compared & found. Current row =  1
Compared & found. Current row =  2
Compared & found. Current row =  3
Compared & found. Current row =  4
Compared & found. Current row =  5
Compared & found. Current row =  6
Compared & found. Current row =  7
Not found... col_2_var not found = AG-200GT-HPA-MRC-000
Not found... col_2_var not found = AG-200GT-OTS-MRC-000
Compared & found. Current row =  10
Compared & found. Current row =  11
Compared & found. Current row =  12
Compared & found. Current row =  13
Compared & found. Current row =  14
Compared & found. Current row =  15
Compared & found. Current row =  16
Compared & found. Current row =  17
Compared & found. Current row =  18
Compared & found. Current row =  19
Compared & found. Current row =  20
Compared & found. Current row =  21
Compared & found. Current row =  22
Compared & found. Current row =  23
Not found... col_2_var not found = ANSI-ESD S20.20-2014
Compared & found. Current row =  25
Compared & found. Current row =  26
Compared & found. Current row =  27
Compared & found. Current row =  28
Compared & found. Current row =  29
Compared & found. Current row =  30
Compared & found. Current row =  31
Compared & found. Current row =  32
Not found... col_2_var not found = A1-P8AAA-MAB-000
Compared & found. Current row =  34
Compared & found. Current row =  35
Compared & found. Current row =  36
Compared & found. Current row =  37
Compared & found. Current row =  38
Compared & found. Current row =  39
Compared & found. Current row =  40
Compared & found. Current row =  41
Compared & found. Current row =  42
Compared & found. Current row =  43
Compared & found. Current row =  44
Compared & found. Current row =  45
Not found... col_2_var not found = CMM 25-20-43
Not found... col_2_var not found = CMM-MB-602
Not found... col_2_var not found = ESD TR20.20-2016
Not found... col_2_var not found = EXOSPHERE ANCHOR SYSTEMS MANUAL
Compared & found. Current row =  50
Compared & found. Current row =  51
Compared & found. Current row =  52
Compared & found. Current row =  53
Compared & found. Current row =  54
Compared & found. Current row =  55
Compared & found. Current row =  56
Compared & found. Current row =  57
Compared & found. Current row =  58
Compared & found. Current row =  59
Compared & found. Current row =  60
Compared & found. Current row =  61
Compared & found. Current row =  62
Compared & found. Current row =  63
Compared & found. Current row =  64
Compared & found. Current row =  65
Compared & found. Current row =  66
Compared & found. Current row =  67
Compared & found. Current row =  68
Compared & found. Current row =  69
Compared & found. Current row =  70
Compared & found. Current row =  71
Compared & found. Current row =  72
Compared & found. Current row =  73
Compared & found. Current row =  74
Compared & found. Current row =  75
Compared & found. Current row =  76
Compared & found. Current row =  77
Compared & found. Current row =  78
Compared & found. Current row =  79
Compared & found. Current row =  80
Compared & found. Current row =  81
Compared & found. Current row =  82
Compared & found. Current row =  83
Compared & found. Current row =  84
Compared & found. Current row =  85
Compared & found. Current row =  86
Compared & found. Current row =  87
Compared & found. Current row =  88
Compared & found. Current row =  89
Compared & found. Current row =  90
Compared & found. Current row =  91
Compared & found. Current row =  92
Compared & found. Current row =  93
Compared & found. Current row =  94
Not found... col_2_var not found = 11-140-6.1
Not found... col_2_var not found = 11-140-7-1.1
Not found... col_2_var not found = 11-140-7-1.4
Compared & found. Current row =  98
Compared & found. Current row =  99
Compared & found. Current row =  100
Not found... col_2_var not found = 13-1-6.1-1
Not found... col_2_var not found = 13-1-6.1-2
Not found... col_2_var not found = 13-1-6.4-1
Not found... col_2_var not found = 13-1-6.4-2
Not found... col_2_var not found = 13-1-6.5
Not found... col_2_var not found = 13-1-6.7-1
Not found... col_2_var not found = 13-1-6.7-2-010
Not found... col_2_var not found = 13-1-6.7-2-020
Not found... col_2_var not found = 13-1-6.7-3-010
Not found... col_2_var not found = 13-1-6.7-3-020
Not found... col_2_var not found = 13-1-6.7-4
Not found... col_2_var not found = 13-1-6.7-5
Not found... col_2_var not found = 13-1-6.10
Not found... col_2_var not found = 13-1-6.10-1
Not found... col_2_var not found = 13-1-6.10-4
Compared & found. Current row =  116
Compared & found. Current row =  117
Compared & found. Current row =  118
Compared & found. Current row =  119
Compared & found. Current row =  120
Compared & found. Current row =  121
Compared & found. Current row =  122
Compared & found. Current row =  123
Compared & found. Current row =  124
Compared & found. Current row =  125
Compared & found. Current row =  126
Compared & found. Current row =  127
Compared & found. Current row =  128
Compared & found. Current row =  129
Compared & found. Current row =  130
Compared & found. Current row =  131
Compared & found. Current row =  132
Compared & found. Current row =  133
Compared & found. Current row =  134
Compared & found. Current row =  135
Not found... col_2_var not found = 17-1-114.1
Not found... col_2_var not found = 17-1-114.14
Compared & found. Current row =  138
Compared & found. Current row =  139
Compared & found. Current row =  140
Compared & found. Current row =  141
Compared & found. Current row =  142
Compared & found. Current row =  143
Compared & found. Current row =  144
Compared & found. Current row =  145
Compared & found. Current row =  146
Compared & found. Current row =  147
Compared & found. Current row =  148
Compared & found. Current row =  149
Compared & found. Current row =  150
Compared & found. Current row =  151
Compared & found. Current row =  152
Compared & found. Current row =  153
Compared & found. Current row =  154
Compared & found. Current row =  155
Compared & found. Current row =  156
Compared & found. Current row =  157
Compared & found. Current row =  158
Compared & found. Current row =  159
Compared & found. Current row =  160
Compared & found. Current row =  161
Compared & found. Current row =  162
Compared & found. Current row =  163
Compared & found. Current row =  164
Compared & found. Current row =  165
Compared & found. Current row =  166
Compared & found. Current row =  167
Compared & found. Current row =  168
Compared & found. Current row =  169
Compared & found. Current row =  170
Compared & found. Current row =  171
Compared & found. Current row =  172
Compared & found. Current row =  173
Compared & found. Current row =  174
Compared & found. Current row =  175
Compared & found. Current row =  176
Compared & found. Current row =  177
Compared & found. Current row =  178
Compared & found. Current row =  179
Compared & found. Current row =  180
Compared & found. Current row =  181
Compared & found. Current row =  182
Compared & found. Current row =  183
Compared & found. Current row =  184
Compared & found. Current row =  185
Compared & found. Current row =  186
Compared & found. Current row =  187
Compared & found. Current row =  188
Compared & found. Current row =  189
Compared & found. Current row =  190
Compared & found. Current row =  191
Compared & found. Current row =  192
Compared & found. Current row =  193
Compared & found. Current row =  194
Compared & found. Current row =  195
Compared & found. Current row =  196
Compared & found. Current row =  197
Compared & found. Current row =  198
Compared & found. Current row =  199
Compared & found. Current row =  200
Compared & found. Current row =  201
Compared & found. Current row =  202
Compared & found. Current row =  203
Compared & found. Current row =  204
Compared & found. Current row =  205
Compared & found. Current row =  206
Compared & found. Current row =  207
Compared & found. Current row =  208
Compared & found. Current row =  209
Compared & found. Current row =  210
Compared & found. Current row =  211
Compared & found. Current row =  212
Compared & found. Current row =  213
Compared & found. Current row =  214
Compared & found. Current row =  215
Compared & found. Current row =  216
Compared & found. Current row =  217
Compared & found. Current row =  218
Compared & found. Current row =  219
Compared & found. Current row =  220
Compared & found. Current row =  221
Compared & found. Current row =  222
Compared & found. Current row =  223
Compared & found. Current row =  224
Compared & found. Current row =  225
Compared & found. Current row =  226
Compared & found. Current row =  227
Compared & found. Current row =  228
Compared & found. Current row =  229
Compared & found. Current row =  230
Compared & found. Current row =  231
Compared & found. Current row =  232
Compared & found. Current row =  233
Compared & found. Current row =  234
Compared & found. Current row =  235
Compared & found. Current row =  236
Compared & found. Current row =  237
Compared & found. Current row =  238
Compared & found. Current row =  239
Compared & found. Current row =  240
Compared & found. Current row =  241
Compared & found. Current row =  242
Compared & found. Current row =  243
Compared & found. Current row =  244
Compared & found. Current row =  245
Compared & found. Current row =  246
Compared & found. Current row =  247
Compared & found. Current row =  248
Compared & found. Current row =  249
Compared & found. Current row =  250
Compared & found. Current row =  251
Compared & found. Current row =  252
Compared & found. Current row =  253
Compared & found. Current row =  254
Compared & found. Current row =  255
Compared & found. Current row =  256
Compared & found. Current row =  257
Compared & found. Current row =  258
Compared & found. Current row =  259
Compared & found. Current row =  260
Compared & found. Current row =  261
Compared & found. Current row =  262
Compared & found. Current row =  263
Compared & found. Current row =  264
Compared & found. Current row =  265
Compared & found. Current row =  266
Compared & found. Current row =  267
Compared & found. Current row =  268
Compared & found. Current row =  269
Compared & found. Current row =  270
Compared & found. Current row =  271
Compared & found. Current row =  272
Compared & found. Current row =  273
Compared & found. Current row =  274
Compared & found. Current row =  275
Compared & found. Current row =  276
Compared & found. Current row =  277
Compared & found. Current row =  278
Compared & found. Current row =  279
Compared & found. Current row =  280
Compared & found. Current row =  281
Compared & found. Current row =  282
Compared & found. Current row =  283
Compared & found. Current row =  284
Compared & found. Current row =  285
Compared & found. Current row =  286
Compared & found. Current row =  287
Compared & found. Current row =  288
Compared & found. Current row =  289
Compared & found. Current row =  290
Compared & found. Current row =  291
Compared & found. Current row =  292
Compared & found. Current row =  293
Compared & found. Current row =  294
Compared & found. Current row =  295
Not found... col_2_var not found = 4790.2D
Compared & found. Current row =  297
df.at reached out of bounds. End of df length.